@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

:root {
    --font-primary: 'Bebas Neue', cursive;
    --font-secondary: 'Roboto', sans-serif;

    --color-bg: #22222e;
    --color-primary: #676eff;
    --color-secondary: #ffffff;
    --color-tertiary: #727484;

    --navbar-h: 10vh;
}

/* Global */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--color-bg);
    font-family: var(--font-secondary);
    color: var(--color-secondary);
}
section {
    max-width: 75rem;
    margin: 0 auto;
}
section h2 {
    line-height: 2rem;
    padding-left: 2rem;
}
ul {
    list-style-type: none;
}

/* Navegation Bar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-h);
    z-index: 1;
    background-color: var(--color-bg);
}
.NavBar {
    height: inherit;
    width: inherit;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.NavBar h1 {
    font-family: var(--font-primary);
    font-size: 2.2rem;
}
.NavBar h1 span {
    color: var(--color-primary);
}
.NavBar__menu {
    display: flex;
}
.NavBar__menu-item {
    height: var(--navbar-h);
    width: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.NavBar__menu-item span {
    font-family: var(--font-primary);
    font-size: 1.5rem;
}
.NavBar__menu-item:hover span {
    color: var(--color-primary);
}
.NavBar__menu-item:hover .NavBar__dropdown-menu {
    display: block;
}
.NavBar__dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}
.NavBar__dropdown-menu li:nth-child(1) {
    animation: dropdownMenuSlide .3s;
}
.NavBar__dropdown-menu li:nth-child(2) {
    animation: dropdownMenuSlide .6s;
}
.NavBar__dropdown-menu li:nth-child(3) {
    animation: dropdownMenuSlide .9s;
}
.NavBar__dropdown-menu li a {
    text-decoration: none;
    color: var(--color-tertiary);
}
.NavBar__dropdown-menu li:hover a {
    color: var(--color-secondary);
}
.NavBar__menu-btn {
    color: var(--color-secondary);
}

/* Item List Container*/
.itemListContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(12rem,1fr));
    gap: 1rem;
}

/* Item */
.item {
    background-color: var(--color-secondary);
    color: var(--color-bg);
    padding: 1rem;
    border-radius: 1.5rem;
}
.item img {
    width: 100%;
    padding: .5rem;
}
.item .item__main {
    padding: .5rem;
}
.item .item__main h3 {
    height: 2.5rem;
    line-height: 1.2rem;
    display: flex;
    align-items: center;
    font-family: var(--font-primary);
    font-size: 1.2rem;
}
.item .item__main p {
    font-size: .8rem;
    color: var(--color-tertiary);
}
.item .item__main span {
    font-size: .8rem;
    margin: .3rem 0;
}
.item .item__main h4 {
    color: var(--color-primary);
    font-size: 1.5rem;
}

/* Item Count */
.itemCount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.itemCount__counter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.itemCount__counter span {
    color: var(--color-primary);
}
.itemCount__counter button {
    border: none;
    background: none;
    font-size: 2rem;
    color: var(--color-primary);
    cursor: pointer;
}

.btn {
    border: none;
    border-radius: 1.5rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: .5rem .8rem;
    cursor: pointer;
    font-size: .8rem;
    font-weight: bold;
}


/* Keyframes */
@keyframes dropdownMenuSlide {
    0%{
        opacity: 0;
        transform: translateX(-15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}