@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

:root {
    --font-primary: 'Bebas Neue', cursive;
    --font-secondary: 'Roboto', sans-serif;

    --color-bg: rgba(34,34,46);
    --color-bg-transparent: rgba(34,34,46,.5);
    --color-primary: rgba(103,110,255);
    --color-secondary: rgba(255,255,255);
    --color-tertiary: rgba(114,146,132);

    --navbar-h: 10vh;
}

/* Global */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--color-bg);
    font-family: var(--font-secondary);
    color: var(--color-secondary);
}
body::-webkit-scrollbar {
    width: .5rem;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: .5rem;
}
header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-h);
    background-color: var(--color-bg);
    border-bottom: .1rem solid var(--color-primary);
}
main {
    min-height: 100vh;
    width: 100%;
    max-width: 75rem;
    margin: var(--navbar-h) auto;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}


/* Navegation Bar */
.NavBar {
    margin: auto;
    width: 100%;
    max-width: 75rem;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.NavBar h1 a {
    color: var(--color-secondary);
    font-family: var(--font-primary);
}
.NavBar h1 a span {
    color: var(--color-primary);
}
.NavBar__menu {
    display: flex;
    align-items: center;
}
.NavBar__menu li {
    margin: 0 1rem;
}
.NavBar__menu li a {
    color: var(--color-secondary);
    font-family: var(--font-primary);
    font-size: 1.2rem;
}

/* Item List Container */
.itemListContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(12rem,1fr));
    gap: 1rem;
    padding: 1rem;
    position: relative;
}

/* Item */
.item {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.item:hover {
    transform: translateY(-.2rem);
    box-shadow: 0rem .1rem .5rem .1rem var(--color-primary);
}
.item a {
    color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item__img {
    height: 15rem;
    overflow-y: hidden;
}
.item__img img {
    width: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.item__description {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item__description h3 {
    font-size: .9rem;
    height: 3rem;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.item__description h3::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 30%;
    right: 30%;
    height: 0.1rem;
    background-color: var(--color-tertiary);
}
.item__description h4 {
    margin: .5rem 0;
    font-size: 2rem;
    font-family: var(--font-primary);
    color: var(--color-primary);
}
.item__description h4 span {
    font-size: 1.5rem;
}


/* Item Count */
.itemCount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.itemCount__counter {
    display: flex;
    align-items: center;
}
.itemCount__counter span {
    color: var(--color-primary);
    font-size: .9rem;
    color: var(--color-primary);
    font-weight: bolder;
    padding: 0 .5rem;
}
.itemCount__counter button {
    background: none;
    border: none;
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

/* Item Detail */
.itemDetail {
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-secondary);
    color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 5rem;
    position: relative;
}
.itemDetail__body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
.itemDetail__body img {
    width: 25rem;
    margin: 0 1rem;
    border-radius: .5rem;
}
.itemDetail__header-main {
    width: 25rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.itemDetail__header-main h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    position: relative;
    font-family: var(--font-primary);
}
.itemDetail__header-main h2::after {
    position: absolute;
    content: "";
    background-color: var(--color-tertiary);
    left: 30%;
    right: 30%;
    height: .2rem;
    top: 100%;
}
.itemDetail__header-main h3 {
    color: var(--color-primary);
    font-size: 2.8rem;
    font-family: var(--font-primary);
}
.itemDetail__header-main h3 span {
    font-size: 2.5rem;
}
.itemDetail__header-main h4 {
    text-transform: uppercase;
    color: var(--color-primary);
}
.itemDetail__header-main h4 a {
    color: var(--color-primary);
    position: relative;
}
.itemDetail__header-main h4 a::after {
    position: absolute;
    content: "";
    background-color: var(--color-primary);
    height: .1rem;
    top: 100%;
    left: 50%;
    right: 50%;
    transition: .3s;
}
.itemDetail__header-main h4 a:hover:after {
    left: 0;
    right: 0;
}
.itemDetail__header-main h4 a:nth-child(1) {
    margin-right: 1rem;
}
.itemDetail__header-main p {
    margin-top: 1rem;
    font-size: .9rem;
    padding: 0 1rem;
}

/* Cart Shop */
.cartList {
    background-color: var(--color-secondary);
    color: var(--color-bg);
    min-height: 100vh;
}
.cartList h2 {
    font-family: var(--font-primary);
    color: var(--color-primary);
    font-size: 2.2rem;
    position: relative;
    padding: .5rem;
    margin-bottom: 1rem;
    text-align: center;
}
.cartList h2::after {
    position: absolute;
    content: "";
    background-color: var(--color-tertiary);
    height: .1rem;
    top: 100%;
    left: 10%;
    right: 10%;
}
.cartListContainer__empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartListContainer__empty p {
    font-size: 1.5rem;
    margin: 1rem 0;
}
.cartListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cartListContainer__items {
    width: 25rem;
    margin-bottom: 1rem;
}
.cartListContainer__items li {
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartList__item {
    height: 7rem;
    position: relative;
}
.cartList__item::after {
    position: absolute;
    content: "";
    background-color: var(--color-tertiary);
    height: 0.1rem;
    top: 100%;
    left: 10%;
    right: 10%;
}
.cartList__item img {
    height: 100%;
    width: 5rem;
    border-radius: .5rem;
}
.cartList__item-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}
.cartList__item-body h3 {
    height: 3rem;
    line-height: 1rem;
    font-size: .9rem;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
    text-align: center;
}
.cartList__item-body button {
    background: none;
    border: none;
    color: var(--color-primary);
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.cartList__item-body button::after {
    position: absolute;
    content: "";
    background-color: var(--color-primary);
    height: .1rem;
    top: 100%;
    left: 50%;
    right: 50%;
    transition: .3s;
}
.cartList__item-body button:hover:after {
    left: 0;
    right: 0;
}
.cartList__item h5, 
.cartList__item h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 .5rem;
}
.cartList__item h5 span,
.cartList__item h4 span {
    width: max-content;
}
.cartListContainer__checkout {
    width: 25rem;
    height: max-content;
    padding: 1rem;
    position: relative;
}
.cartListContainer__checkout::after {
    position: absolute;
    content: "";
    background-color: var(--color-tertiary);
    height: 0.1rem;
    top: 100%;
    left: 10%;
    right: 10%;
}
.cartListContainer__checkout li {
    width: 100%;
}
.cartListContainer__checkout li h4,
.cartListContainer__checkout li h3 {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartListContainer__checkout li h4 {
    font-size: 1.1rem;
}
.cartListContainer__checkout li h3 {
    font-size: 1.4rem;
}
.cartListContainer__checkout li h4 i {
    flex-grow: 1;
    margin: 0 .5rem;
    font-size: .8rem;
    opacity: .5;
    font-weight: 500;
}
.cartListContainer__checkout li h4 span,
.cartListContainer__checkout li h3 span {
    font-size: 1.5rem;
    font-family: var(--font-primary);
    color: var(--color-primary);
}
.cartListContainer__checkout-controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

/* Cart List Container Form */
.cartListContainer__checkout form {
    display: flex;
    flex-direction: column;
}
.cartListContainer__checkout form legend {
    font-size: 2rem;
    color: var(--color-primary);
    font-family: var(--font-primary);
    text-align: center;
    padding: 0 .8rem .5rem;
}
.cartListContainer__checkout form label {
    color: var(--color-tertiary);
    font-size: .8rem;
    font-weight: bold;
    padding: 0 .8rem;
    opacity: .6;
}
.cartListContainer__checkout form input {
    border: none;
    border-bottom: .1rem solid var(--color-primary);
    padding: .5rem .8rem;
    margin-bottom: 1rem;
    outline: none;
    color: var(--color-primary);
    font-weight: bold;
}
.cartListContainer__checkout form input::placeholder {
    color: var(--color-primary);
    font-weight: bold;
}


/* Buttons */
.btn__primary {
    background: none;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: .9rem;
    padding: .5rem .8rem;
    border-radius: .5rem;
    cursor: pointer;
}
.btn__primary a {
    color: var(--color-secondary);
}
.btn__secondary {
    background: none;
    border: none;
    color: var(--color-primary);
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.btn__secondary a {
    color: var(--color-primary);
}
.btn__secondary::after {
    position: absolute;
    content: "";
    background-color: var(--color-primary);
    height: .1rem;
    top: 100%;
    left: 50%;
    right: 50%;
    transition: .3s;
}
.btn__secondary:hover:after {
    left: 0;
    right: 0;
}

.btn__closeDetail {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2rem;
}

.btn__cart {
    background-color: var(--color-primary);
    border: none;
    padding: .3rem .5rem;
    border-radius: .5rem;
    cursor: pointer;
}
.btn__cart a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn__cart a span {
    font-family: var(--font-primary);
    font-size: 1.1rem;
    margin-left: .5rem;
}

/* Loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loader__spinner {
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 4rem;
}
.loader__spinner span {
    display: inline-block;
    position: absolute;
    left: 0;
    width: 1rem;
    background-color: var(--color-primary);
    animation: loaderSpinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader__spinner span:nth-child(1) {
    left: 0;
    animation-delay: -0.24s;
}
.loader__spinner span:nth-child(2) {
    left: 1.5rem;
    animation-delay: -0.12s;
}
.loader__spinner span:nth-child(3) {
    left: 3rem;
    animation-delay: 0;
}
.loader p {
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: 2rem;
}

/* Keyframes */
@keyframes loaderSpinner {
    0% {
        top: .5rem;
        height: 4rem;
    }
    50%, 100% {
        top: 1.5rem;
        height: 2rem;
    }
}